/* -----media queries----- */

@media (min-width: 992px) {
  #sidenav {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 17rem;
    height: 100vh;
    background-color: #d45e38;
    color: black;
  }
}

@media (max-width: 991px) {
  #sidenav {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    height: auto;
    width: 100vw;
    background-color: #d45e38;
    color: black;
  }

  .nav-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  #about-section,
  #experience-section,
  #education-section {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-right: 0.75rem;
  }
}

/* -----nav bar----- */

.img-profile {
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 15rem;
  border-radius: 100%;
  border: 0.5rem solid #ffffff33;
}

#navbar-ul {
  margin-top: 0rem;
  padding-top: 0rem;
}

#navbar-ul ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style-type: none; /* removes bullet points */
  padding: 0rem;
  margin: 0rem;
}

#navbar-ul ul li {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.15em;
}

#navbar-ul ul li a {
  color: white;
}

/* overriding bootstrap class for custom positioning*/
.navbar-collapse {
  flex-grow: 0;
}

.nav-custom-hover {
  cursor: pointer;
}

.nav-custom-hover li:hover {
  transition: all 0.3s ease;
  background-color: #ffffff33;
}

#name-in-nav {
  color: rgba(245, 245, 245, 0.75);
  font-weight: 400;
  font-size: 2rem;
  margin: 0.5rem;
}

.navbar-toggler {
  margin: 0.5rem;
  margin-right: 2rem;
}

/* -----page content----- */
.page-content {
  margin: 8rem;
  margin-bottom: 0rem;
  margin-top: 6rem;
  padding-left: 15%;
}

#name-heading {
  font-size: 5rem;
}

#surname {
  color: #d45e38;
}

#personal-details {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: black;
}

#email-link,
.page-content .company {
  color: #d45e38;
  text-decoration: underline;
}

#email-link:hover,
.page-content .company:hover {
  transition: all 0.3s ease;
  color: #773520;
}

#bio {
  margin-bottom: 2rem;
}

#linkedin-icon {
  height: 3.5rem;
  width: 3.5rem;
}

#linkedin-icon-svg-path:hover {
  fill: #d45e38;
}

.employment-dates {
  color: #d45e38;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
li,
#name-in-nav {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

h3 {
  font-weight: 550;
}

p,
.page-content ul,
h5 {
  color: grey;
}

/*formatting hyperlinked text*/
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.role {
  margin-top: 3rem;
}
